/*NavBar Styling Start*/

@media only screen and (max-width:580px) {
    .navi_searchbar_wrapper{
        margin-left: 0!important;
    }
}

@media only screen and (max-width:580px){
    .indx_title_main_wrapper{
        padding-top: 95px;
    }
}

/*NavBar Styling End*/

/*Albums Page Styling Start*/

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .year_list-navigation{
        margin-left: 85%;
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (min-width: 776px) and (max-width: 991px){
    .custom_album_bottom_banner{
        padding-top: 40px;
    }
    .year_list-navigation{
        margin-left: 75%;
        position: absolute;
        bottom: -50px;
    }
    .year_list a{
        height: 2.5rem;
        width: 5rem;
        padding-top: .6rem;
        margin: 8px;
    }
}
@media only screen and (min-width: 490px) and (max-width: 775px){
    .custom_album_bottom_banner{
        padding-top: 300px;
    }
    .year_list-navigation{
        margin-left: 75%;
        position: absolute;
        bottom: -300px;
    }
    .year_list a{
        height: 2.5rem;
        width: 5rem;
        padding-top: .6rem;
        margin: 8px;
    }
}
@media only screen and (min-width: 396px) and (max-width: 490px){
    .custom_album_bottom_banner{
        padding-top: 380px;
    }
    .year_list-navigation{
        margin-left: 70%;
        position: absolute;
        bottom: -390px;
    }
    .year_list a{
        height: 2.5rem;
        width: 5rem;
        padding-top: .6rem;
        margin: 8px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 396px){
    .custom_album_bottom_banner{
        padding-top: 300px;
    }
    .year_list-navigation{
        margin-left: 65%;
        position: absolute;
        bottom: -300px;
    }
    .year_list a{
        height: 2rem;
        width: 4rem;
        padding-top: .3rem;
        margin: 6px;
    }
}
@media only screen and (min-width: 250px) and (max-width: 320px){
    .custom_album_bottom_banner{
        padding-top: 300px;
    }
    .year_list-navigation{
        margin-left: 65%;
        position: absolute;
        bottom: -300px;
    }
    .year_list a{
        height: 2rem;
        width: 4rem;
        padding-top: .2rem;
        margin: 4px;
    }
}

/*Albums Page Styling End*/

/*Custom Album Styling Section Start*/

@media only screen and (max-width: 858px) {
    .custom_albums_option_wrapper{
        top:50px;
        left:45%;
    }
    .custom_albums_option_card{
        width: 60%;
    }
}

/*Custom Album Styling Section End*/

/*Custom Login Modal Styling Start*/

@media only screen and (max-width: 992px) {
    .vl{
        margin-top: 0;
        height: 100%;
        border-left: none;
        position: relative;
        left: 0;
        margin-left: -3px;
        top: 0;
        padding-bottom: 3rem;
    }
    .vl::before{
        position: absolute;
        width: 80%;
        height: 1rem;
        left: 10%;
        top:15%;
        content: "";
        border-bottom:2px solid #FFFFFF;
    }

    .vl-text{
        position: absolute;
        left: 45%;
        padding: .85rem 1rem .8rem 1rem;
        background-color: #FFFFFF;
        color:#333333;
        border-radius: 50%;
        top:0;
    }

    .vl-register{
        margin-top: 0;
        height: 100%;
        border-left: none;
        position: relative;
        left: 0;
        margin-left: -3px;
        top: 0;
        padding-bottom: 3rem;
    }
    .vl-register::before{
        position: absolute;
        width: 80%;
        height: 1rem;
        left: 10%;
        top:15%;
        content: "";
        border-bottom:2px solid #FFFFFF;
    }

    .vl-register-text{
        position: absolute;
        left: 45%;
        padding: .85rem 1rem .8rem 1rem;
        background-color: #FFFFFF;
        color:#333333;
        border-radius: 50%;
        top:0;
    }

    .register-btn{
        padding-top: 0!important;
    }

}

@media only screen and (min-width:992px) {
    .lang_apply_btn_wrapper{
        padding-right: 0!important;
    }

    .social_login_btn_wrapper{
        padding-right: 10px!important;
    }
}

@media only screen and (max-width: 768px) {

    .album-dash-image{
        padding-top: 210px;
    }

    .album-dash-heading{
        padding-top: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .album-action-options a{
        margin-right: 0;
        margin-left: 0;
    }
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
    .album-action-options a{
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 0;
        margin-left: 0;
    }
}

/*Custom Login Modal Styling End*/

