/*NavBar Styling Start*/
.index3_sidebar{
    position: fixed;
    z-index: 999;
}

.m24_navi_main_wrapper{
    position: fixed;
    z-index: 999;
}

.navi_searchbar_wrapper{
    margin-left: 50px!important;
}
/*NavBar Styling End*/

/*Landing Section Styling Start*/

.treanding_album_slider {
    float: left;
    width: 100%;
    text-align: center;
}
.treanding_album_slider .owl-theme .owl-dots {
    display: none;
}
.treanding_album_slider .owl-theme .owl-nav {
    position: absolute;
    right: 0;
    top: -65px;
    margin-top: 0;
    z-index: 1;
    display: block;
}
.treanding_album_slider .owl-theme .owl-nav .owl-prev {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 21px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}
.treanding_album_slider .owl-theme .owl-nav .owl-prev i:before, .treanding_album_slider .owl-theme .owl-nav .owl-next i:before{
    font-weight:600;
}
.treanding_album_slider .owl-theme .owl-nav .owl-next {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 21px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}
.treanding_album_slider .owl-theme .owl-nav .owl-next:hover, .treanding_album_slider .owl-theme .owl-nav .owl-prev:hover{
    color: #fa5b41;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.top-album-slider{
    padding-bottom: 20px!important;
}

.top-album-slider .owl-carousel a .item{
    height: 3rem!important;
    background-color: #fa5840;
    position: relative;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.top-album-slider .owl-carousel a .item:hover{
    background-color: #0f0e37;
}

.top-album-slider-main-box{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-album-slider-main-box p{
    font-size: 1.2rem;
    color: #FFFFFF;
}

.slider-top-margin{
    margin-top: 30px;
}

/*Landing Section Styling End*/

/*Contact Section Styling Start*/

.contact_section .m24_heading_wrapper h1,.contact_section .m24_heading_wrapper p{
    color:#ffffff;
}

.contact-form-custom input[type="text"]:hover,.contact-form-custom input[type="text"]:focus, .contact-form-custom input[type="text"]:active,.contact-form-custom input[type="email"]:hover,.contact-form-custom input[type="email"]:focus, .contact-form-custom input[type="email"]:active,.contact-form-custom textarea:hover,.contact-form-custom textarea:focus, .contact-form-custom textarea:active
{
    background-color: #04031d;
    color: #FFFFFF;
}
/*Contact Styling End*/

/*User Dashboard Styling Start */

.user-card .user-card-body{
    background-color: #04031d;
}

.user-card{
    border-color: #fa5b41;
    box-shadow: 0 0 7px 3px #fa5b41;
}


.user-dash-image img{
    height:175px;
    width: 175px;
    border: 1px solid #fa5b41;
    border-radius: 10px;
}

.user-dash-description p span{
    display: inline-block;
    width: 8rem;
    color: #fa5b41;
}

.user-dash-description p{
    padding: 7px;
    font-size: 14px;
    color: #797979;
}

.album_inner_list, .album_list_wrapper{
    background-color: #04031d;
    color: #FFFFFF;
}

.album_list_name li{
    color: #FFFFFF!important;
}

.top_song_artist_contnt h1 a{
    color: #FFFFFF!important;
}

.m24_tranding_more_icon i{
    color: #FFFFFF!important;
}

.favourite-dash-playlist h1{
    color: #FFFFFF;
    position: relative;
}
.favourite-dash-playlist h1::before{
    position: absolute;
    content: "";
    background-color: #fa5840;
    width: 22%;
    height: 2px;
    top:140%;
    left:40%;
}

.favourite-dash-playlist .playlist-desc{
    font-size: 14px;
    color: #fa5840;
}

.favourite-dash-playlist h1 i{
    color: #fa5b41;
}

.pagination li a{
    outline: none;
    border: none;
    background-color: #04031d!important;
    color: #fa5b41!important;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
}

.pagination li a:hover{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

.pagination li .active{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

.favourite-dash-playlist-name h5{
    color:#fa5b41;
}

.favourite-dash-playlist-name h5 i{
    color: #fa5840;
}

/*User Dashboard Styling End*/

/*Login Modal Styling Start*/

.google-btn
{
    background-color: #DD4B39;
    color: white;
    transition: all 0.3s ease-in-out 0s;
}

.google-btn:hover{
    opacity: 0.7;
    color: #FFFFFF;
}

.google-btn:active, .google-btn:focus, .facebook-btn:active, .facebook-btn:focus{
    box-shadow: none;
}

.facebook-btn
{
    background-color: #4C69BA;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out 0s;
}

.facebook-btn:hover{
    opacity: 0.7;
    color: #FFFFFF;
}

/*Login Modal Styling End*/

/*Footer Section Start*/

.index3_bottom_footer{
    margin-bottom: 0!important;
}

/*Footer Section End*/