/*Styling For ALl Button Start*/

/* inverse buttons */
.btn-inverse-primary {
    background-color: rgba(182, 109, 255, 0.2);
    background-image: none;
    border-color: rgba(182, 109, 255, 0); }
.btn-inverse-primary:not(.btn-inverse-light) {
    color: #103FCF; }
.btn-inverse-primary:hover {
    color: #ffffff;
    background-color: #103FCF;
    border-color: #103FCF; }
.btn-inverse-primary.focus, .btn-inverse-primary:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(182, 109, 255, 0.5);
    box-shadow: 0 0 0 3px rgba(182, 109, 255, 0.5); }
.btn-inverse-primary.disabled, .btn-inverse-primary:disabled {
    color: #103FCF;
    background-color: transparent; }
.btn-inverse-primary.active, .btn-inverse-primary:active,
.show > .btn-inverse-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #103FCF;
    border-color: #103FCF; }

.btn-primary:not(.btn-light) {
    color: #ffffff; }
.btn-primary:not(.btn-light):hover, .btn-primary:not(.btn-light):focus, .btn-primary:not(.btn-light):active {
    color: #ffffff; }
.btn-primary:not(.btn-light):focus, .btn-primary:not(.btn-light):active {
    background: #103FCF;
    border-color: #103FCF; }

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #000; }

.btn-inverse-secondary {
    background-color: rgba(195, 189, 189, 0.2);
    background-image: none;
    border-color: rgba(195, 189, 189, 0); }
.btn-inverse-secondary:not(.btn-inverse-light) {
    color: #c3bdbd; }
.btn-inverse-secondary:hover {
    color: #ffffff;
    background-color: #c3bdbd;
    border-color: #c3bdbd; }
.btn-inverse-secondary.focus, .btn-inverse-secondary:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(195, 189, 189, 0.5);
    box-shadow: 0 0 0 3px rgba(195, 189, 189, 0.5); }
.btn-inverse-secondary.disabled, .btn-inverse-secondary:disabled {
    color: #c3bdbd;
    background-color: transparent; }
.btn-inverse-secondary.active, .btn-inverse-secondary:active,
.show > .btn-inverse-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: #c3bdbd;
    border-color: #c3bdbd; }

.btn-secondary:not(.btn-light) {
    color: #ffffff; }
.btn-secondary:not(.btn-light):hover, .btn-secondary:not(.btn-light):focus, .btn-secondary:not(.btn-light):active {
    color: #ffffff; }
.btn-secondary:not(.btn-light):focus, .btn-secondary:not(.btn-light):active {
    background: #c3bdbd;
    border-color: #c3bdbd; }

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96));
    background: linear-gradient(to right, #e7ebf0, #868e96);
    color: #000; }

.btn-inverse-success {
    background-color: rgba(27, 207, 180, 0.2);
    background-image: none;
    border-color: rgba(27, 207, 180, 0); }
.btn-inverse-success:not(.btn-inverse-light) {
    color: #1bcfb4; }
.btn-inverse-success:hover {
    color: #ffffff;
    background-color: #1bcfb4;
    border-color: #1bcfb4; }
.btn-inverse-success.focus, .btn-inverse-success:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(27, 207, 180, 0.5);
    box-shadow: 0 0 0 3px rgba(27, 207, 180, 0.5); }
.btn-inverse-success.disabled, .btn-inverse-success:disabled {
    color: #1bcfb4;
    background-color: transparent; }
.btn-inverse-success.active, .btn-inverse-success:active,
.show > .btn-inverse-success.dropdown-toggle {
    color: #ffffff;
    background-color: #1bcfb4;
    border-color: #1bcfb4; }

.btn-success:not(.btn-light) {
    color: #ffffff; }
.btn-success:not(.btn-light):hover, .btn-success:not(.btn-light):focus, .btn-success:not(.btn-light):active {
    color: #ffffff; }
.btn-success:not(.btn-light):focus, .btn-success:not(.btn-light):active {
    background: #1bcfb4;
    border-color: #1bcfb4; }

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae));
    background: linear-gradient(to right, #84d9d2, #07cdae);
    color: #000; }

.btn-inverse-info {
    background-color: rgba(25, 138, 227, 0.2);
    background-image: none;
    border-color: rgba(25, 138, 227, 0); }
.btn-inverse-info:not(.btn-inverse-light) {
    color: #198ae3; }
.btn-inverse-info:hover {
    color: #ffffff;
    background-color: #198ae3;
    border-color: #198ae3; }
.btn-inverse-info.focus, .btn-inverse-info:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(25, 138, 227, 0.5);
    box-shadow: 0 0 0 3px rgba(25, 138, 227, 0.5); }
.btn-inverse-info.disabled, .btn-inverse-info:disabled {
    color: #198ae3;
    background-color: transparent; }
.btn-inverse-info.active, .btn-inverse-info:active,
.show > .btn-inverse-info.dropdown-toggle {
    color: #ffffff;
    background-color: #198ae3;
    border-color: #198ae3; }

.btn-info:not(.btn-light) {
    color: #ffffff; }
.btn-info:not(.btn-light):hover, .btn-info:not(.btn-light):focus, .btn-info:not(.btn-light):active {
    color: #ffffff; }
.btn-info:not(.btn-light):focus, .btn-info:not(.btn-light):active {
    background: #198ae3;
    border-color: #198ae3; }

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf));
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    color: #000; }

.btn-inverse-warning {
    background-color: rgba(254, 215, 19, 0.2);
    background-image: none;
    border-color: rgba(254, 215, 19, 0); }
.btn-inverse-warning:not(.btn-inverse-light) {
    color: #fed713; }
.btn-inverse-warning:hover {
    color: #ffffff;
    background-color: #fed713;
    border-color: #fed713; }
.btn-inverse-warning.focus, .btn-inverse-warning:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(254, 215, 19, 0.5);
    box-shadow: 0 0 0 3px rgba(254, 215, 19, 0.5); }
.btn-inverse-warning.disabled, .btn-inverse-warning:disabled {
    color: #fed713;
    background-color: transparent; }
.btn-inverse-warning.active, .btn-inverse-warning:active,
.show > .btn-inverse-warning.dropdown-toggle {
    color: #ffffff;
    background-color: #fed713;
    border-color: #fed713; }

.btn-warning:not(.btn-light) {
    color: #ffffff; }
.btn-warning:not(.btn-light):hover, .btn-warning:not(.btn-light):focus, .btn-warning:not(.btn-light):active {
    color: #ffffff; }
.btn-warning:not(.btn-light):focus, .btn-warning:not(.btn-light):active {
    background: #fed713;
    border-color: #fed713; }

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500));
    background: linear-gradient(to right, #f6e384, #ffd500);
    color: #000; }

.btn-inverse-danger {
    background-color: rgba(254, 124, 150, 0.2);
    background-image: none;
    border-color: rgba(254, 124, 150, 0); }
.btn-inverse-danger:not(.btn-inverse-light) {
    color: #fe7c96; }
.btn-inverse-danger:hover {
    color: #ffffff;
    background-color: #fe7c96;
    border-color: #fe7c96; }
.btn-inverse-danger.focus, .btn-inverse-danger:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(254, 124, 150, 0.5);
    box-shadow: 0 0 0 3px rgba(254, 124, 150, 0.5); }
.btn-inverse-danger.disabled, .btn-inverse-danger:disabled {
    color: #fe7c96;
    background-color: transparent; }
.btn-inverse-danger.active, .btn-inverse-danger:active,
.show > .btn-inverse-danger.dropdown-toggle {
    color: #ffffff;
    background-color: #fe7c96;
    border-color: #fe7c96; }

.btn-danger:not(.btn-light) {
    color: #ffffff; }
.btn-danger:not(.btn-light):hover, .btn-danger:not(.btn-light):focus, .btn-danger:not(.btn-light):active {
    color: #ffffff; }
.btn-danger:not(.btn-light):focus, .btn-danger:not(.btn-light):active {
    background: #fe7c96;
    border-color: #fe7c96; }

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(to right, #ffbf96, #fe7096);
    color: #000; }

.btn-inverse-light {
    background-color: rgba(248, 249, 250, 0.2);
    background-image: none;
    border-color: rgba(248, 249, 250, 0); }
.btn-inverse-light:not(.btn-inverse-light) {
    color: #f8f9fa; }
.btn-inverse-light:hover {
    color: #ffffff;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
.btn-inverse-light.focus, .btn-inverse-light:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 3px rgba(248, 249, 250, 0.5); }
.btn-inverse-light.disabled, .btn-inverse-light:disabled {
    color: #f8f9fa;
    background-color: transparent; }
.btn-inverse-light.active, .btn-inverse-light:active,
.show > .btn-inverse-light.dropdown-toggle {
    color: #ffffff;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }

.btn-light:not(.btn-light) {
    color: #ffffff; }
.btn-light:not(.btn-light):hover, .btn-light:not(.btn-light):focus, .btn-light:not(.btn-light):active {
    color: #ffffff; }
.btn-light:not(.btn-light):focus, .btn-light:not(.btn-light):active {
    background: #f8f9fa;
    border-color: #f8f9fa; }

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9));
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
    color: #000; }

.btn-inverse-dark {
    background-color: rgba(62, 75, 91, 0.2);
    background-image: none;
    border-color: rgba(62, 75, 91, 0); }
.btn-inverse-dark:not(.btn-inverse-light) {
    color: #3e4b5b; }
.btn-inverse-dark:hover {
    color: #ffffff;
    background-color: #3e4b5b;
    border-color: #3e4b5b; }
.btn-inverse-dark.focus, .btn-inverse-dark:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(62, 75, 91, 0.5);
    box-shadow: 0 0 0 3px rgba(62, 75, 91, 0.5); }
.btn-inverse-dark.disabled, .btn-inverse-dark:disabled {
    color: #3e4b5b;
    background-color: transparent; }
.btn-inverse-dark.active, .btn-inverse-dark:active,
.show > .btn-inverse-dark.dropdown-toggle {
    color: #ffffff;
    background-color: #3e4b5b;
    border-color: #3e4b5b; }

.btn-dark:not(.btn-light) {
    color: #ffffff; }
.btn-dark:not(.btn-light):hover, .btn-dark:not(.btn-light):focus, .btn-dark:not(.btn-light):active {
    color: #ffffff; }
.btn-dark:not(.btn-light):focus, .btn-dark:not(.btn-light):active {
    background: #3e4b5b;
    border-color: #3e4b5b; }

.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
    background: linear-gradient(89deg, #5e7188, #3e4b5b);
    color: #000; }

/* gradient buttons */
.btn-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-primary:not([disabled]):not(.disabled):active, .btn-gradient-primary:not([disabled]):not(.disabled).active,
.show > .btn-gradient-primary.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#da8cff), to(#9a55ff));
    background: linear-gradient(to right, #da8cff, #9a55ff); }
.btn-gradient-primary:hover {
    opacity: .8; }
.btn-gradient-primary:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-primary:not(.btn-gradient-light):hover, .btn-gradient-primary:not(.btn-gradient-light):focus, .btn-gradient-primary:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-secondary {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96));
    background: linear-gradient(to right, #e7ebf0, #868e96);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-secondary:not([disabled]):not(.disabled):active, .btn-gradient-secondary:not([disabled]):not(.disabled).active,
.show > .btn-gradient-secondary.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#e7ebf0), to(#868e96));
    background: linear-gradient(to right, #e7ebf0, #868e96); }
.btn-gradient-secondary:hover {
    opacity: .8; }
.btn-gradient-secondary:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-secondary:not(.btn-gradient-light):hover, .btn-gradient-secondary:not(.btn-gradient-light):focus, .btn-gradient-secondary:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-success {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae));
    background: linear-gradient(to right, #84d9d2, #07cdae);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-success:not([disabled]):not(.disabled):active, .btn-gradient-success:not([disabled]):not(.disabled).active,
.show > .btn-gradient-success.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#84d9d2), to(#07cdae));
    background: linear-gradient(to right, #84d9d2, #07cdae); }
.btn-gradient-success:hover {
    opacity: .8; }
.btn-gradient-success:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-success:not(.btn-gradient-light):hover, .btn-gradient-success:not(.btn-gradient-light):focus, .btn-gradient-success:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-info {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf));
    background: linear-gradient(to right, #90caf9, #047edf 99%);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-info:not([disabled]):not(.disabled):active, .btn-gradient-info:not([disabled]):not(.disabled).active,
.show > .btn-gradient-info.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#90caf9), color-stop(99%, #047edf));
    background: linear-gradient(to right, #90caf9, #047edf 99%); }
.btn-gradient-info:hover {
    opacity: .8; }
.btn-gradient-info:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-info:not(.btn-gradient-light):hover, .btn-gradient-info:not(.btn-gradient-light):focus, .btn-gradient-info:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-warning {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500));
    background: linear-gradient(to right, #f6e384, #ffd500);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-warning:not([disabled]):not(.disabled):active, .btn-gradient-warning:not([disabled]):not(.disabled).active,
.show > .btn-gradient-warning.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#f6e384), to(#ffd500));
    background: linear-gradient(to right, #f6e384, #ffd500); }
.btn-gradient-warning:hover {
    opacity: .8; }
.btn-gradient-warning:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-warning:not(.btn-gradient-light):hover, .btn-gradient-warning:not(.btn-gradient-light):focus, .btn-gradient-warning:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-danger {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(to right, #ffbf96, #fe7096);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-danger:not([disabled]):not(.disabled):active, .btn-gradient-danger:not([disabled]):not(.disabled).active,
.show > .btn-gradient-danger.dropdown-toggle {
    background: -webkit-gradient(linear, left top, right top, from(#ffbf96), to(#fe7096));
    background: linear-gradient(to right, #ffbf96, #fe7096); }
.btn-gradient-danger:hover {
    opacity: .8; }
.btn-gradient-danger:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-danger:not(.btn-gradient-light):hover, .btn-gradient-danger:not(.btn-gradient-light):focus, .btn-gradient-danger:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9));
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-light:not([disabled]):not(.disabled):active, .btn-gradient-light:not([disabled]):not(.disabled).active,
.show > .btn-gradient-light.dropdown-toggle {
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e4e4e9));
    background: linear-gradient(to bottom, #f4f4f4, #e4e4e9); }
.btn-gradient-light:hover {
    opacity: .8; }
.btn-gradient-light:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-light:not(.btn-gradient-light):hover, .btn-gradient-light:not(.btn-gradient-light):focus, .btn-gradient-light:not(.btn-gradient-light):active {
    color: #ffffff; }

.btn-gradient-dark {
    background: linear-gradient(89deg, #5e7188, #3e4b5b);
    border: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
.btn-gradient-dark:not([disabled]):not(.disabled):active, .btn-gradient-dark:not([disabled]):not(.disabled).active,
.show > .btn-gradient-dark.dropdown-toggle {
    background: linear-gradient(89deg, #5e7188, #3e4b5b); }
.btn-gradient-dark:hover {
    opacity: .8; }
.btn-gradient-dark:not(.btn-gradient-light) {
    color: #ffffff; }
.btn-gradient-dark:not(.btn-gradient-light):hover, .btn-gradient-dark:not(.btn-gradient-light):focus, .btn-gradient-dark:not(.btn-gradient-light):active {
    color: #ffffff; }


/*Styling For ALl Button End*/

/*Styling For All Start*/

.ad-container{
    background-color: #04031d;
}

.border-1{
    border: 1px solid #00c792;
    border-radius: 15px;
}

.border-2{
    border: 1px solid #fa5b41;
    border-radius: 15px;
}

.border-3{
    border: 1px solid #00bfcc;
    border-radius: 15px;
}

.bg-1{
    background-color: #00c792;
}

.bg-2{
    background-color: #fa5b41;
}

.bg-3{
    background-color: #00bfcc;
}

.bg-4{
    background-color: #0f0e37;
}

.visible{
    display: block!important;
}
.invisible{
    display: none!important;
}


/*Styling For ALl End*/

/*NavBar Styling Start*/


.index3_sidebar{
    position: fixed;
    z-index: 999;
}

.m24_navi_main_wrapper{
    position: fixed;
    z-index: 999;
}

.navi_searchbar_wrapper{
    margin-left: 50px!important;
}
/*NavBar Styling End*/

/*Landing Section Styling Start*/

.add_banner_wrapper{
 overflow-x: hidden;
}

.download_wrapper .row{
    margin-right: 0!important;
}

 .overflow-mockup-design{
    overflow-x: hidden;
}

 .download-row-right-padding{
     margin-right: 0!important;
 }

.download-row-right-padding .col-12{
    padding-right: 0!important;
}

.custom_albums_wrapper{
    overflow-x: hidden;
}

.left-sidebar-ad img{
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 100px;
    min-width: 20px;
}

.right-sidebar-ad img{
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 100px;
    min-width: 20px;
}

.treanding_album_slider {
    float: left;
    width: 100%;
    text-align: center;
}
.treanding_album_slider .owl-theme .owl-dots {
    display: none;
}
.treanding_album_slider .owl-theme .owl-nav {
    position: absolute;
    right: 0;
    margin-top: 10px;
    z-index: 1;
    display: block;
}
.treanding_album_slider .owl-theme .owl-nav .owl-prev {
    color: #FFFFFF;
    font-size: 25px;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 21px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}
.treanding_album_slider .owl-theme .owl-nav .owl-prev i:before, .treanding_album_slider .owl-theme .owl-nav .owl-next i:before{
    font-weight:600;
}
.treanding_album_slider .owl-theme .owl-nav .owl-next {
    color: #FFFFFF;
    font-size: 25px;
    margin: 0;
    width: 30px;
    height: 30px;
    line-height: 21px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}
.treanding_album_slider .owl-theme .owl-nav .owl-next:hover, .treanding_album_slider .owl-theme .owl-nav .owl-prev:hover{
    color: #fa5b41;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.top-album-slider{
    padding-bottom: 20px!important;
}

.top-album-slider .owl-carousel a .item{
    height: 3rem!important;
    border:1px solid #fa5b41;
    position: relative;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.top-album-slider .owl-carousel a .item:hover{
    background-color: #fa5b41;
}

.top-album-slider .owl-carousel a .item .top-album-slider-main-box p{
    color:#ffffff;
}

.top-album-slider-main-box{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-album-slider-main-box p{
    font-size: 1.2rem;
    color: #FFFFFF;
}

.slider-top-margin{
    margin-top: 30px;
}

.release_tabs_wrapper .nav li .nav-link{
    color:#ffffff;
}

.relaese_viewall_wrapper a,.relaese_viewall_wrapper a i{
    color:#ff7e00!important;
}
.treanding_song_slider{
    border-bottom:none!important;
}

.white_heading_wrapper h4{
    color: #ffffff;
}

.index-nav-link{
    font-size: 14px!important;
    padding: 10px 7px!important;
}
/*Landing Section Styling End*/

/*Custom Styling Start*/

.custom_albums_wrapper{
    background-color: #04031d;
    color: #ffffff;
}

.custom_albums_card{
    padding:0!important;
}

.custom_albums_wrapper .custom_albums_card .custom_albums_heading{
    padding: 10px 0;
    font-size: 20px;
    color:#ffffff;
    border-radius: 15px;
}

.custom_albums_card div div a{
    padding: 5px;
    border-radius: 5px;
    display: block;
    font-size: 18px;
}

.custom_albums_wrapper div div h1{
    color:#ffffff;
}

.custom_album_btn{
    width:100%;
}

.custom_album_btn:active,.custom_album_btn:focus{
box-shadow: none;
}
.custom_album_btn i{
    color: #FFFFFF;
}

.custom_album_song_name{
    padding-top: 8px;
    padding-left: 30px;
}

.custom_album_song_row{
    position: relative;
    border-radius: 5px;
}

.custom_albums_option_wrapper{
    position: absolute;
    z-index: 101;
    left: 90%;
    border-radius: 25px;
}

.custom_albums_option_wrapper .collapse .card a{
    display: block!important;
    color: black;
    font-size: 14px;
    transition: 0.3s ease-in-out 0s;
}

.custom_albums_option_wrapper .collapse .card a span i{
    color: #fa5b41;
}

.custom_albums_option_wrapper .collapse .card a:hover{
    color: #fa5b41;
}

.custom_albums_option_card{
    padding: 10px 5px!important;
}

/*Custom Styling End*/

/*Contact Section Styling Start*/

.contact_section .m24_heading_wrapper h1,.contact_section .m24_heading_wrapper p{
    color:#ffffff;
}

.contact-form-custom input[type="text"]:hover,.contact-form-custom input[type="text"]:focus, .contact-form-custom input[type="text"]:active,.contact-form-custom input[type="email"]:hover,.contact-form-custom input[type="email"]:focus, .contact-form-custom input[type="email"]:active,.contact-form-custom textarea:hover,.contact-form-custom textarea:focus, .contact-form-custom textarea:active
{
    background-color: #04031d;
    color: #FFFFFF;
}
/*Contact Styling End*/

/*User Dashboard Styling Start */

.user-card .user-card-body{
    background-color: #04031d;
}

.user-card{
    border-color: #fa5b41;
    box-shadow: 0 0 3px 1px #fa5b41;
}

.user-dash-image img{
    margin-left: 36%;
    height:250px;
    width: 250px;
    border: 2px solid #fa5b41;
    border-radius: 10px;
}

.user-dash-image h2{
    color:#ffffff;
}

.user-dash-image h2 span{
    color: #ff7e00;
}

.user-dash-description .row div h4{
    color:#ffffff;
    transition: all 0.3s ease-in-out 0s;
}

.user-dash-description .row div h4::before{
    position: absolute;
    content: "";
    top:37%;
    text-align: center;
    width: 60%;
    height: 2px;
    background-color: #ff7e00;
}

.user-dash-description .row div h5{
    color:#ff7e00;
}

.album_inner_list, .album_list_wrapper{
    background-color: #04031d;
    color: #FFFFFF;
}

.favourite_play_list, .favourite_play_wrapper{
    background-color: #0f0e37;
    color: #ffffff;
}

.album_list_name li{
    color: #FFFFFF!important;
}

.top_song_artist_contnt h1 a{
    color: #FFFFFF!important;
}

.m24_tranding_more_icon i{
    color: #FFFFFF!important;
}

.favourite-dash-playlist h1{
    color: #FFFFFF;
    position: relative;
}
.favourite-dash-playlist h1::before{
    position: absolute;
    content: "";
    background-color: #fa5840;
    width: 22%;
    height: 2px;
    top:140%;
}

.favourite-dash-playlist .playlist-desc{
    font-size: 14px;
    color: #fa5840;
}

.favourite-dash-playlist h1 i{
    color: #fa5b41;
}

.pagination li a{
    outline: none;
    border: none;
    background-color: #04031d!important;
    color: #fa5b41!important;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
}

.pagination li a:hover{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

.pagination li .active{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

.favourite-dash-playlist-name h5{
    color:#fa5b41;
}

.favourite-dash-playlist-name h5 i{
    color: #fa5840;
}

/*User Dashboard Styling End*/

/*Featured Albums Styling Start*/

.featured_album_header{
    color: white;
    position: relative;
    padding-bottom: 15px;
}

.featured_album_header::before{
    position: absolute;
    content:"";
    background-color: #fa5b41;
    width:20%;
    height: 1px;
    bottom: 0;
    left:0;
}

.featured_albums_wrapper{
    background-color: #04031d;
}

.music_navigation_wrapper .navigation_title{
    background-color: #0f0e37;
    color: #FFFFFF!important;
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 10px;
    display: block;
}

.navigation_title::before{
    content: "";
    background-color: #fa5b41;
    width: 100%;
    height: 2px;
    position:absolute;
    bottom: 0;
    left: 0;
}

.album_name{
    padding: 10px 0 10px 10px;
    background-color: #0f0e37;
    color: #ffffff;
    margin-bottom: 10px;
    border-radius: 7px;
    display: block;
    transition: all 0.3s ease-in-out 0s;
}

.album_name:hover{
    color: #fa5b41;
}

.active_album_name{
    color:#fa5b41;
}

.featured_album_letter_filter p{
    padding: 20px;
    background-color: #00c792;
    color: #ffffff;
    font-size: 20px;
    border-radius: 7px;
    font-family: 'Oswald',sans-serif;
}

.featured_album_letter_filter p  span{
    color: #fa5b41;
}

.alphabet_list{
    border-radius: 7px;
}

.alphabet_list a{
    height: 2.7rem;
    width: 2.7rem;
    padding-top: .6rem;
    text-align: center;
    margin: 10px;
    display: inline-block;
    font-size: 15px;
    background-color: #00bfcc;
    color:#ffffff!important;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.alphabet_list a:hover{
    color: #fa5b41!important;
}

.featured_album_year_filter p{
    padding: 20px;
    background-color:  #00bfcc;
    color: #ffffff;
    font-size: 20px;
    border-radius: 7px;
    font-family:'Oswald',sans-serif;
}

.featured_album_year_filter p  span{
    color: #fa5b41;
}
.featured-col-9{
    position: relative;
}
.year_list{
    border-radius: 7px;
    position: absolute;
}
.year_list2{
    border-radius: 7px;
    position: absolute;
}

.year_list a{
    height: 3rem;
    width: 6rem;
    text-align: center;
    padding-top: .8rem;
    margin: 10px;
    display: inline-block;
    font-size: 15px;
    background-color: #00c792;
    color:#ffffff!important;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.year_list a:hover{
    color: #fa5b41!important;
}

.year_list2 a{
    height: 3rem;
    width: 6rem;
    text-align: center;
    padding-top: .8rem;
    margin: 10px;
    display: inline-block;
    font-size: 15px;
    background-color: #fa5b41;
    color:#ffffff!important;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.3s ease-in-out 0s;
}

.year_list-navigation{
    margin-left: 85%;
    position: absolute;
    bottom: 45px;
}

.year_list-navigation a{
    margin: 10px;
}

.year_list-navigation button{
    background-color: #04031d;

}

.year_list-navigation button i{
    color: #ffffff;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out 0s;
}

.year_list-navigation button i:hover{
    color: #fa5b41;
}

.year_list-navigation button:hover,.year_list-navigation button:active,.year_list-navigation button:focus{
    box-shadow: none;
}

/*Featured Albums Styling End*/

/*Filter Page Styling Start*/
.release_box_main_content ul.icon-option-wrapper.tranding_open_option{
    top:40px;
    right: 5px;
}

/*Filter Page Styling End*/

/*Single Album Page Styling Start*/

.album-dash-image{
    position: relative;
}

.album-dash-image img{
    height: 95%;
    width: 12rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 15px;
    margin: auto;
}

.album-card-body h5{
    padding: 15px 15px;
    margin-left: 24px;
    margin-right: 15px;
    background-color: #00c792;
    color: #ffffff;
    border-radius: 7px;
}

.album-card-body h5 span{
    color: #ff7e00;
}

.album-dash-heading h6{
    color: #ff7e00;
}

.album-dash-heading p{
    color: #ffffff;
    font-size: 16px;
    padding-right:15px;
}

.album-dash-heading .description-span span{
    font-size: 16px;
    font-weight: 500;
    color: #ff7e00;
    display: inline-block;
    width: 8rem;
}

.album-dash-options p span{
    color: #fa5b41;
    font-size: 20px;
    margin-left: -10px;
    transition: all 0.3s ease-in-out 0s;
}

.album-dash-options p span:hover{
    color: #ffffff;
}

.album-details-playlist-heading h3{
    color: #fa5b41;
}

.album-song-title{
    padding-left: 0!important;
    width: calc(100% - 00px) !important;
}

.album-detail-li{
    width: 20% !important;
}

.album-song-number{
    width:8%!important;
}

.album-detail-title{
    width: 20% !important;
}

.album-action-options{
    width:12.33%!important;
}

.album-actions-title{
    width:7.33%!important;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.album-action-options a{
    margin-right: 10px;
    margin-left: 10px;
}

.album_list_wrapper3>ul>li:last-child{
    margin-left: 1.5%;
}

.delete-action-options{
    text-align: center!important;
}

.download-option-title{
    width: 10%!important;
    text-align: center!important;
    margin-left: 1.5%;
}

.delete-action-options{
    width: 10%!important;
    text-align: center!important;
    margin-left: 1.5%;
}

.album_download_all{
    background-color: #04031d;
}

.album_download_wrapper .album_download_title{
    color: #ffffff;
    background-color: #00c792;
    border-radius: 7px;
    padding: 20px;
}

.album_download_wrapper .album_download_title span{
    color:#fa5b41;
}

.related_album_section{
    background-color: #04031d;
}

.related_album_wrapper .related_album_title{
    color: #ffffff;
    background-color: #1DA1F2;
    border-radius: 7px;
    padding: 20px;
}

.release_content_artist2{
    background-color: #0f0e37;
}

.latest_album_section{
    background-color: #04031d;
}

.latest_album_section .latest_album_title{
    color: #FFFFFF;
    background-color: #ff7e00;
    border-radius: 7px;
    padding: 20px;
}

.album-card{
    background-color: #04031d;
}
.single_album_list_wrapper2 {
    overflow-y: hidden;
    overflow-x: hidden;
}

.bottom-download-button{
    transition: all 0.3s ease-in-out 0s;
}

.bottom-download-button:hover{
    color: #fa5b41;
}

.link-color-change{
    color: #fa5b41!important;
}

/*Single ALbum Page Styling End*/

/*Login Modal Styling Start*/

.google-btn
{
    background-color: #DD4B39;
    color: white;
    transition: all 0.3s ease-in-out 0s;
}

.google-btn:hover, .twitter-btn:hover{
    opacity: 0.7;
    color: #FFFFFF;
}

.google-btn:active, .google-btn:focus, .facebook-btn:active, .facebook-btn:focus, .twitter-btn:active, .twitter-btn:focus{
    box-shadow: none;
}

.twitter-btn{
    background-color: #1DA1F2;
    color:white;
    transition: all 0.3s ease-in-out 0s;
}

.facebook-btn
{
    background-color: #4C69BA;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out 0s;
}

.facebook-btn:hover{
    opacity: 0.7;
    color: #FFFFFF;
}

.vl{
    margin-top: 70%;
    height:55%;
    border-left: 2px solid #FFFFFF;
    position: absolute;
    left: 82%;
    margin-left: -3px;
    top: 0;
}

.vl-text{
    position: absolute;
    top:35%;
    left: -24px;
    padding: .7rem 1rem .7rem 1rem;
    background-color: #FFFFFF;
    color:#333333;
    border-radius: 50%;
}

.vl-register{
    margin-top: 70%;
    height:55%;
    border-left: 2px solid #FFFFFF;
    position: absolute;
    left: 80%;
    margin-left: -3px;
    top: 0;
}

.vl-register-text{
    position: absolute;
    top:40%;
    left: -24px;
    padding: .7rem 1rem .7rem 1rem;
    background-color: #FFFFFF;
    color:#333333;
    border-radius: 50%;
}

.register-btn{
    padding-top: 80px!important;
}

/*Login Modal Styling End*/

/*Filter Page Styling Start*/

.filter_album_result{
background-color: #04031d;
}

.filter_album_heading{
    padding: 20px 0;
    color: #FFFFFF;
    background-color: #00c792;
    font-size: 20px;
    border-radius: 7px;
}

.filter_album_heading span{
    color: #fa5b41;
}

.filter_albums_list{
    background-color: #0f0e37;
    width:98%;
    margin-left: 10px;
    border-radius: 7px;
}

.first_row_result, .second_row_result, .third_row_result{
    background-color: #04031d;
}

.first_row_result .filter_albums, .second_row_result .filter_albums, .third_row_result .filter_albums{
    margin: 10px 0;
    padding: 10px;
    background-color: #0f0e37;
    color: #ffffff;
    display: block;
    border-radius: 7px;
    transition: all 0.3s ease-in-out 0s;
}
.first_row_result .filter_albums:hover, .second_row_result .filter_albums:hover, .third_row_result .filter_albums:hover{
    color: #fa5b41;
}
.first_row_result p{
    background-color: #fa5b41;
    color: #FFFFFF;
    margin-top: 10px;
    padding:  10px 0!important;
    border-radius: 7px;
}

.second_row_result p{
    background-color: #00c792;
    color: #FFFFFF;
    margin-top: 10px;
    padding:  10px 0!important;
    border-radius: 7px;
}

.third_row_result p{
    background-color: #1DA1F2;
    color: #FFFFFF;
    margin-top: 10px;
    padding:  10px 0!important;
    border-radius: 7px;
}

/*Footer Section Start*/

.index3_bottom_footer{
    margin-bottom: 0!important;
}

/*Footer Section End*/