/*NavBar Styling Start*/

@media only screen and (max-width:580px) {
    .navi_searchbar_wrapper{
        margin-left: 0!important;
    }
}

@media only screen and (max-width:580px){
    .indx_title_main_wrapper{
        padding-top: 95px;
    }
}

/*NavBar Styling End*/

/*Custom Album Styling Section Start*/

@media only screen and (max-width: 858px) {
    .custom_albums_option_wrapper{
        top:50px;
        left:45%;
    }
    .custom_albums_option_card{
        width: 60%;
    }
}

/*Custom Album Styling Section End*/