/*NavBar Styling Start*/



.index3_sidebar{
    position: fixed;
    z-index: 999;
}

.m24_navi_main_wrapper{
    position: fixed;
    z-index: 999;
}

.navi_searchbar_wrapper{
    margin-left: 50px!important;
}

/*NavBar Styling End*/

/*Landing Section Styling Start*/

.slider-top-margin{
    margin-top: 30px;
}

/*Landing Section Styling End*/

/*Contact Section Styling Start*/

.contact_section .m24_heading_wrapper h1,.contact_section .m24_heading_wrapper p{
    color:#ffffff;
}

.contact-form-custom input[type="text"]:hover,.contact-form-custom input[type="text"]:focus, .contact-form-custom input[type="text"]:active,.contact-form-custom input[type="email"]:hover,.contact-form-custom input[type="email"]:focus, .contact-form-custom input[type="email"]:active,.contact-form-custom textarea:hover,.contact-form-custom textarea:focus, .contact-form-custom textarea:active
{
    background-color: #04031d;
    color: #FFFFFF;
}
/*Contact Styling End*/

/*User Dashboard Styling Start */

.user-card .user-card-body{
    background-color: #04031d;
}

.user-card{
    border-color: #fa5b41;
    transition: all 0.5s ease-in-out 0s;
}

.user-card:hover{
    box-shadow: 0 0 7px 3px #fa5b41;
}

.user-dash-image img{
    height:300px;
    width: 300px;
    border: 1px solid #fa5b41;
    border-radius: 10px;
}

.user-dash-description p span{
    display: inline-block;
    width: 13rem;
    color: #fa5b41;
}

.user-dash-description p{
    padding: 13px;
    font-size: 22px;
    color: #ffffff;
}

.album_inner_list, .album_list_wrapper{
    background-color: #04031d;
    color: #FFFFFF;
}

.album_list_name li{
    color: #FFFFFF!important;
}

.top_song_artist_contnt h1 a{
    color: #FFFFFF!important;
}

.m24_tranding_more_icon i{
    color: #FFFFFF!important;
}

.favourite-dash-playlist h3{
    color: #FFFFFF;
}

.favourite-dash-playlist h3 i{
    color: #fa5b41;
}

.pagination li a{
    outline: none;
    border: none;
    background-color: #04031d!important;
    color: #fa5b41!important;
    margin: 10px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out 0s;
}

.pagination li a:hover{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

.pagination li .active{
    background-color: #fa5b41!important;
    color: #04031d!important;
}

/*User Dashboard Styling End*/

/*Footer Section Start*/

.index3_bottom_footer{
    margin-bottom: 0!important;
}

/*Footer Section End*/